@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400&display=swap');

* {
    font-family: 'Exo';
}

body {
    margin: 0;
}

header {
    width: calc(100% - 0.5rem*2);
    height: 40px;
    padding: 0.5rem;
    background-color: #4169e1;
    box-shadow: 0 2px 10px gray;
}

header .flex {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
}
header .flex img {
    height: 100%;
}
header .flex h2 {
    padding-left: 0.5rem;
}

.buttonFlex {
    display: flex;
    flex-direction: row;
}

.classSectionList {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.classListItem:not(:last-of-type) {
    width: 80%;
    max-width: 500px;
    margin-bottom: 1.5rem;
    box-shadow: 2px 2px 10px gray;
    border-radius: 7px;
    padding: 1rem;
}
.classListItem h3 {
    margin-top: 0;
}
.classListItem .buttonFlex {
    grid-column-gap: 10px;
}
.classListItem .buttonFlex button,
.classListItem .buttonFlex .btn {
    display: block;
    padding: 0.25rem;
    width: 3em;
    height: 3em;
    background-image: linear-gradient(#eeeeee, #cccccc);
    border: outset 2px #eeeeee;
    border-radius: 5px;
    outline: none;
}
button img {
    width: 100%;
}
.classListItem .buttonFlex button:hover,
.classListItem .buttonFlex .btn:hover {
    cursor: pointer;
}
.classListItem .buttonFlex button:active,
.classListItem .buttonFlex .btn:active {
    border: inset 2px #cccccc;
    transform: translate(1px, 1px);
}

.addClass {
    width: 35px;
    height: 35px;
    border: none;
    color: black;
    font-size: 1.6rem;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 2px 2px 10px gray;
    text-decoration: none;
    text-align: center;
    display: block;
    outline: none;
    transition: box-shadow 0.2s,
                transform 0.2s;
}
.addClass:hover {
    cursor: pointer;
    transform: translate(-1px, -1px);
    box-shadow: 4px 4px 15px gray;
}
.addClass:active {
    box-shadow: 1px 1px 5px gray;
    transform: translate(-1px, -1px) scale(0.9);
    transition: transform 0s;
}


.centered {
    margin: 1rem auto;
    text-align: center;
}


form {
    width: max-content;
    max-width: 100%;
}
.inputContainer {
    position: relative;
}
.inputContainer input + label,
.inputContainer textarea + label {
    position: absolute;
    left: 1.4rem;
    top: 0.9rem;
    font-size: 1rem;
    transition: left 0.3s,
                top 0.1s,
                font-size 0.3s;
}
.inputContainer input:active + label,
.inputContainer input:focus + label,
.inputContainer textarea:active + label,
.inputContainer textarea:focus + label,
.inputContainer input:valid + label,
.inputContainer textarea:valid + label {
    left: 1.2rem;
    top: 0.4rem;
    font-size: 0.75rem;
}

form *:not(div.multipleChoice) input:not([type="checkbox"]),
form *:not(div.multipleChoice) textarea {
    padding: 1.25rem 0.5rem 0.5rem;
    border-radius: 5px;
    border: 4px solid rgb(65, 105, 225);
    position: relative;
    display: block;
    color: black;
    outline: none;
    margin: 10px;
    width: calc(350px);
}
form input:not([type="checkbox"]):focus,
form textarea:focus {
    box-shadow: inset 0 0 5px darkslategray;
}
input[type="submit"],
form a.btn {
    width: 350px;
    margin: auto;
    display: block;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    color: rgb(65, 105, 225);
    background-color: rgba(65, 105, 225, 0.1);
    border: 4px solid rgb(65, 105, 225);
    transition: background-color 0.3s,
                color 0.3s;
}
input[type="submit"]:hover,
input[type="submit"]:focus,
input[type="submit"]:active,
form a.btn:hover,
form a.btn:focus,
form a.btn:active {
    cursor: pointer;
    background-color: rgba(65, 105, 225, 1);
    color: white;
}

form a.btn.cancel {
    width: 70%;
    margin-top: 10px;
    font-size: 0.8rem;
}


div.weekDayChoice {
    margin: auto;
    display: grid;
    width: max-content;
    grid-template-columns: 62.73px 65.11px 84.58px 71.23px 52.63px;
    align-items: flex-end;
    height: 3em;
}
div.weekDayChoice div.mChoiceContainer {
    position: relative;
    width: 100%;
}
div.weekDayChoice div.mChoiceContainer input {
    display: block;
    height: 15px;
    width: 100%;
    margin: 0;
}
div.weekDayChoice div.mChoiceContainer label {
    left: 50%;
    opacity: 0;
    color: white;
    position: absolute;
    transform: translate(-50%, 10px);
    background-color: royalblue;
    padding: 0.25rem 0.75rem;
    transition: all 0.3s;
    border-radius: 5px;
    width: max-content;
    font-size: 0.8rem;
    display: block;
    top: -2.2em;
}
div.weekDayChoice div.mChoiceContainer:hover label,
div.weekDayChoice div.mChoiceContainer input:checked + label {
    transform: translate(-50%, 0px);
    opacity: 1;
}



/* Poll results styles */
    .poll-stats-bar {
        position: relative;
        padding: 0.75rem 0.5rem;
        max-width: calc(100% - 200px);
        background-color: #4169e1;
        margin-bottom: 10px;
    }
    .poll-stats-bar p {
        width: max-content;
        transform: translate(0, -50%);
        text-overflow: ellipsis;
        white-space: nowrap;
        position: absolute;
        overflow: hidden;
        right: -182px;
        width: 200px;
        margin: 0;
        top: 50%;
    }
    .poll-stats-bar p span {
        color: white;
        display: inline-block;
        text-align: right;
        width: 15px;
    }
/* Poll results styles */


/* Clicker display styles */
    #clicker-display {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        justify-items: center;
        height: 300px;
    }
    #red-team-count, #blue-team-count {
        align-self: end;
    }
    #red-click-count, #blue-click-count {
        font-size: 3rem;
    }
    .hide {
        display: none !important;
    }
    footer {
        display: absolute;
        bottom: 0;
    }

    @keyframes load {
        from {
            transform: rotate(360deg);
        }
        to {
            transform: rotate(0deg);
        }
    }

    #last-student-joined {
        position: fixed;
        top: 5px;
        right: 10px;
    }
/* Clicker display styles */
