<!DOCTYPE html>
<html lang="en">
<head>
    <title>Server Controller</title>
</head>
<body>
    <button onclick="window.open('/demo-qr-display', 'QR Code', 'width=600, height=600')">Generate Demo QR Code</button>
    <ul id="users"></ul>
    <form action="/send-message" method="post">
        <input type="text" name="msg" id="msg">
        <button type="submit" id="submit">Send</button>
    </form>
    <p id="teams-count"></p>
    <!-- <p id="click-count"></p> -->
    <table>
        <tr>
            <th id="red-team-count" style="color: red"></th>
            <th id="blue-team-count" style="color: blue"></th>
        </tr>
        <tr>
            <td id="red-click-count"></td>
            <td id="blue-click-count"></td>
        </tr>
    </table>
    <a href="/">Back</a>
    <script src="js/server-test.js"></script>
</body>
</html>