<!DOCTYPE html>
<html lang="en">
<head>
    <title>Server Controller</title>
</head>
<body>
    <button onclick="window.open('/demo-qr-display', 'QR Code', 'width=600, height=600')">Generate Demo QR Code</button>
    <ul id="users"></ul>
    <!-- <form action="/send-message" method="post">
        <input type="text" name="msg" id="msg">
        <button type="submit" id="submit">Send</button>
    </form> -->
    <select name="screen" id="screen">
        <option disabled selected value>Select a screen to display</option>
    </select>

    <p id="teams-count"></p>
    <!-- <p id="click-count"></p> -->
    <table id="clicker-table" hidden>
        <tr>
            <th id="red-team-count" style="color: red"></th>
            <th id="blue-team-count" style="color: blue"></th>
        </tr>
        <tr>
            <td id="red-click-count"></td>
            <td id="blue-click-count"></td>
        </tr>
    </table>

    <div id="poll-results"></div>
    
    <script src="js/server-test.js"></script>
</body>
<footer>
    <a href="/">Back</a>
</footer>
</html>