body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
}

.room-element {
  /* background-color: rgb(20, 196, 196); */
  background-color: white;
  border: 5px solid rgb(14, 172, 172);
  border-radius: 2rem;
  padding: 0.5rem;
  margin: 1rem;
}

#new-room-button {
  background-color: rgb(101, 221, 165);
  border-radius: 50%;
  border-width: 0;
  width: 4rem;
  height: 4rem;
  font-size: 2.5rem;
  color: white;
  margin: auto;
}

button {
  border-radius: 1rem;
  border-width: 0;
  padding: 0.5rem;
  background-color: rgb(101, 221, 165);
  color: white;
  margin: 0.5rem;
}

h3 {
  border-bottom-style: solid;
}