<header>
    <div class="flex">
        <% if (showBackIcon) { %>
            <a href="/" class="backIcon"><img src="/images/back.png" alt="back icon"></a>
        <% } %>
        <img src="/images/profile-male.png" alt="placeholder image" class="userImg">
        <h2 class="userName">Mr. Teacher</h2>
    </div>
</header>